extends layout

block content
  h1= title
  p Welcome to #{title}
  .container
    .row
      .col-md-12
        |Title of the content
    .row
      .col-md-4.col-md-height
        |Three short words
      .col-md-4.col-md-height
        |They shall grow not old, as we that are left grow old;
        |Age shall not weary them, nor the years condemn. 
        |At the going down of the sun and in the morning 
        |We will remember them. 
        |Lest we forget.
      .col-md-4.col-md-height
        |Quite a short sentence
        .row
          .col-lg-12 More Text 1
        .row
          .col-lg-6.rotate(45) More Text 2
          .col-lg-6 More Text 3
      

